/* Color palette used from https://coolors.co/91f9e5-18ada0-ff7733-3f7f47-dd5112 */
/* Base Styles */
body {
  font-family: sans-serif;
}

/* Grid System */
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/* Header */
header {
  height: 130px;
  background-color: #18ADA0;
}

header h1 {
  font-size: 52px;
  font-family: 'Cantarell';
  padding: 15px 0;
}

header nav {
  float: left;
  padding: 55px 0px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: 20px;
  font-family: 'Cantarell';
  padding-left: 25px;
  text-decoration: none;
  color: #000;
}

header nav ul li a:hover {
  color: #FF7733;
}

/* Group */
#group {
  height: 600px;
  background: url('../img/orange-leaves.jpg');
  background-size: cover;
}

/* Events */
#events {
  height: 400px;
  background-color:#18ADA0;
}

#events .full-width {
  padding: 55px 0;
}

#events .third-width {
  margin-left: 85px;
}

#events h3 {
  font-size: 32px;
  font-family: 'Cantarell';
}

#events p {
  font-size: 20px;
  line-height: 42px;
}

#events button {
  background:#FF7733;
}

/* Contact */
#contact {
  height: 150px;
}

#contact h3 {
  font-size: 32px;
  font-family: 'Cantarell';
}

#contact p {
  font-size: 20px;
}

#contact nav {
  float: left;
}

#contact nav ul li {
  display: inline-block;
  text-decoration: none;
  color: #FF7733;
  padding-left: 25px;
}

/* Footer */
footer {
  height: 70px;
  font-size: 15px;
  background-color: #18ADA0;
  padding: 20px;
}
