/* Sass Variables */ 
$base-font: 'Cantarell';
$headline-color: red;
$hover-color: yellow;
$base-color: #333;

/* Base styles */ 
body {
    margin: 0 auto;
    width: 100%;
}

/* Header */
header {
    background-color: $base-color;

    h1 {
        font-size: 35px;
        font-family: $base-font;

        a {
            color: #fff;
        }

        a:hover {
            color: $hover-color;
        }
    }

    li {
        font-size: 20px;
        font-family: "Times New Roman", serif;

        a {
            color: #fff;
        }

        a {
            color: $hover-color;
        }
    }
}

/* Banner */
#banner {
    background-image: url("https://s7d2.scene7.com/is/image/TWCNews/0322_n13_mickey_mouse_club_megacon");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

/* Email */ 
#email {
    background-color: $headline-color;
    color: #fff;
    padding: 20px 0;

    h2 {
        font-size: 30px;
        padding: 15px 0;
    }

    p {
        font-size: 20px;
        padding: 15px 0;
    }
}

/* Opening */ 
#opening {
    padding: 40px 0;

    iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        font-family: "Times New Roman", serif;
    }
}

/* News */
#news {
    padding: 20px 0;

    h2 {
        font-size: 30px;
        font-family: $base-font;
        text-align: center;
        color: $headline-color;
    }

    h3 {
        font-size: 25px;
        font-family: "Times New Roman", serif;
        color: $base-color;
        padding-bottom: 10px;
    }

    p {
        font-size: 20px;
        font-family: "Times New Roman", serif;
        color: $base-color;
        line-height: 32px;
    }

    button {
        margin-bottom: 25px;
    }
}

/* Clubs */ 
#clubs {
    padding: 20px 0;

    h2 {
        font-size: 30px;
        font-family: $base-font;
        color: $headline-color;
    }

    img {
        margin: 15px 0;
    }

    h3 {
        font-size: 25px;
        font-family: "Times New Roman", serif;
        color: $base-color;
    }

    button {
        margin-bottom: 15px;
    }
}

/* Footer */ 
footer {
    background-color: $base-color;
    color: #fff;
    padding: 20px 0;

    p {
        font-size: 18px;
        font-family: "Times New Roman", serif;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: $hover-color;
    }
}
